*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  tr:nth-child(odd){
    background-color: white;
}
 tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}
 tr:nth-child(even) td:nth-child(odd){
    background-color: black;
}
table{
    border: 2px solid red;
}
td{
    border: 1px solid green;
    
    padding: 25px;
}
